<ion-view view-title="Chats" class="chats-view" can-swipe-back="false">
	<ion-header-bar align-title="left" class="bar-main-header">
		<div class="buttons">
			<button class="button button-icon button-clear ion-ios-arrow-left" ng-click="home()"></button>
		</div>
		<h1 class="title perfil">Favoriet</h1>
		<div class="buttons right">
			<!--button class="button button-icon button-clear ion-android-more-vertical" ng-click="openOptions()" ></button-->
		</div>
	</ion-header-bar>
	<ion-content class="main-content" has-bouncing="true" scroll="true">
  		<ion-list can-swipe="false">
            <ion-item  class="item-avatar item-chat" ng-repeat="bitch in chats" ng-if="!bitch.Grupo">
                <div class="img" style="background: url({{config.http.getUrl()+'servidor/foto/'+bitch.Id+'/0'}});" ng-click="openPerfil(bitch)"></div>
                <div class="hora">{{bitch.Hora.toLowerCase()}}<i class="icon ion-ios-arrow-right"></i></div>
                <h2>{{bitch.Nombre}}</h2>
      			<!--p>{{bitch.Mensajes<0?"Toca para comenzar un chat":(bitch.Mensajes==0?"No hay mensajes pendientes":bitch.Mensajes+" Mensaje"+(bitch.Mensajes>1?'s':"")+" sin leer")}}</p-->
                <p>{{bitch.Mensajes<0?"Tik op om een chat starten":(bitch.Mensajes==0?"Er zijn geen berichten in afwachting van":bitch.Mensajes+" Bericht"+(bitch.Mensajes>1?'s':"")+" ongelezen")}}</p>
                <div class="cover" ng-click="openChat(bitch);"></div>
                <div class="delete" ng-click="opcionesChat(bitch);"><i class="icon ion-ios-gear"></i></div>
            </ion-item>
            <!--ion-item  class="item-avatar item-chat" >
                <div class="img" style="background: url(img/profiles/prof3.jpg);"></div>
                
                <h2>sandra</h2>
      			<p>No disponible</p>
                <div class="cover offline"></div>
            </ion-item-->
            <div class="division-grupos" ng-show="false">Grupos</div>
            <ion-item  class="item-avatar item-chat" ng-repeat="bitch in chats" ng-if="bitch.Grupo">
                <div class="img" style="background-image: url('img/icon.png');" ng-click="openPerfil(bitch)"></div>
                <div class="hora">{{bitch.Hora.toLowerCase()}}<i class="icon ion-ios-arrow-right"></i></div>
                <h2>{{bitch.Nombre}}</h2>
      			<p>{{bitch.Mensajes<0?"Toca para comenzar un chat":(bitch.Mensajes==0?"No hay mensajes pendientes":bitch.Mensajes+" Mensaje"+(bitch.Mensajes>1?'s':"")+" sin leer")}}</p>
                <div class="cover" ng-click="openChat(bitch);"></div>
                <div class="delete" ng-click="opcionesChat(bitch);"><i class="icon ion-ios-gear"></i></div>
            </ion-item>
            <!--ion-item  class="item-avatar item-chat" >
                <div class="img" style="background: url(img/profiles/prof3.jpg);"></div>
                
                <h2>sandra</h2>
      			<p>No disponible</p>
                <div class="cover offline"></div>
            </ion-item-->
        </ion-list>
	</ion-content>
</ion-view>
