<ion-view view-title="Home" class="home-view" can-swipe-back="false" >
	<ion-header-bar align-title="left" class="bar-main-header">
		<div class="buttons l">
			<button class="button button-icon button-clear ion-navicon" ng-click="ajustes()"></button>
		</div>
		<div class="header-logo"></div>
		<div class="buttons right" ng-click="chats()">
        	<i class="icon ion-android-favorite"></i>
        	<button class="button button-clear favoritas" >Favoritas</button>
			<!--button class="button button-icon button-clear ion-chatbubble-working" ng-click="chats()"></button-->
		</div>
	</ion-header-bar>
	<ion-content class="main-content" has-bouncing="false" scroll="false" ng-controller="CardsCtrl">
      

      <!-- *************************
        TD Cards
        - We start off with an ng-if so that the cards are not generated
          unless $scope.cards is not 'null'
      ************************* -->
      <div ng-if="cards.active">
        <td-cards>
          <td-card delegate-handle="cards" ng-repeat="bitch in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
            <!--div class="image" >
              <div class="no-text"><i class="icon ion-thumbsdown"></i></div>
              <div class="yes-text"><i class="icon ion-thumbsup"></i></div>
              
              <div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div>
              <img ng-src="{{ card.image }}">
            </div-->
            <div class="profile">
            	<div class="foto" ng-click="perfil(bitch)" image-lazy-src="{{config.http.getUrl()+'servidor/foto/'+bitch.IdServidor+'/0'}}" image-lazy-background-image="true"></div>
                <div class="no-text"><i class="icon ion-close"></i>Pasar</div>
              <div class="yes-text"><i class="icon ion-android-favorite"></i>Favorita</div>
                <div class="crop-likes" ng-click="perfil(bitch)">
                <div class="like left" ng-click="onClickTransitionOut(bitch)"> <i class="icon ion-close"></i></div>
                <div class="like" ng-click="onClickTransitionRight($event,bitch)" ><i class="icon ion-android-favorite"></i></div>
                </div>
                <div class="nombre" ng-click="perfil(bitch)">
                	<div class="text">{{bitch.Nombre}}</div>
                    <div class="circulo">
                    	<div>{{bitch.Edad}}</div>
                        <div>años</div>
                    </div>
                </div>
            </div>
          </td-card>
          <!-- *************************
            End Card
            - 'drag' is set to false. The user cannot drag it.
            - 'refreshCards()' reloads all cards that have NOT been discarded.
          ************************* -->
          <td-card id="end-card" drag="false">
            <i class="icon ion-ios-refresh" ng-click="refreshCards()"></i>
          </td-card>
        </td-cards>
        <div class="info" ng-click="">
            	<div>{{(cards.active.length)?cards.active[0].Anuncio:""}}</div>
            </div>
      </div>

	</ion-content>
</ion-view>
