<ion-view view-title="Perfil" class="perfil-view" can-swipe-back="false">
	<ion-header-bar align-title="left" class="bar-main-header">
		<div class="buttons">
			<button class="button button-icon button-clear ion-ios-arrow-left" ng-click="goBack()"></button>
		</div>
		<h1 class="title perfil" >{{perfilUsuario.Nombre}}</h1>
		<div class="edad-header" >{{perfilUsuario.Edad}} años</div>
	</ion-header-bar>
	<ion-content class="main-content" has-bouncing="false" scroll="true">
    	<div class="cargando-perfil ng-hide" ng-show="!perfilUsuario.Informacion"><ion-spinner icon="android"></ion-spinner></div>
  		<div class="home-card ng-hide" ng-show="perfilUsuario.Informacion">
        	<div class="profile">
            	<div class="foto" style="background: url({{config.http.getUrl()+'servidor/foto/'+perfilUsuario.IdServidor+'/0'}})" ng-click="openimg(0)"></div>
                <div class="miniaturas" >
                	<div ng-repeat="i in perfilUsuario.Informacion.Fotos" ng-if="$index>0" style="background: url({{config.http.getUrl()+'servidor/foto/'+perfilUsuario.IdServidor+'/'+i}})" ng-click="openimg(i)"></div>
                </div>
                <!--button class="solicitar" ng-click="solicitar()">Solicitar</button-->
                <button class="precios" ng-click="precios()">Precios</button>
                <button class="like" ng-click="like()" ng-hide="perfilUsuario.Informacion.Chat"><i class="icon ion-ios-heart"></i></button>
                <button class="like" ng-click="chat()" ng-hide="!perfilUsuario.Informacion.Chat"><i class="icon ion-chatbubble-working" ng-class="{'chat':perfilUsuario.Informacion.Chat}"></i></button>
            </div>
            <div class="info " >
            	<div class="aboutme">
                	<div class="title">Sobre mí</div>
                    <div class="icons">
                    	<i class="glyph-icon flaticon-fashion" ></i>
                        <div>3</div>
                    	<i class="glyph-icon flaticon-shapes" style="color: #EA4095;"></i>
                        <div>5</div>
                    	<i class="glyph-icon flaticon-nature" style="color: #40A2EA;;"></i>
                        <div>4</div>
                    </div>
                    <div class="content">
                    {{perfilUsuario.Informacion.Informacion}}
                    </div>
                    <div class="description">
                    	<div class="element">
                    		<button class="title">Estatura:</button>
                            <button class="datos">{{perfilUsuario.Informacion.Estatura | estatura}}</button>
                        </div>
                        <div class="element">
                    		<button class="title">Peso:</button>
                            <button class="datos">{{perfilUsuario.Informacion.Peso | peso}}</button>
                        </div>
                        <div class="element">
                    		<button class="title">Medidas:</button>
                            <button class="datos">{{perfilUsuario.Informacion.Medidas}}</button>
                        </div>
                        <div class="element">
                    		<button class="title">Nacionalidad:</button>
                            <button class="datos">{{perfilUsuario.Informacion.Nacionalidad}}</button>
                        </div>
                        <div class="element">
                    		<button class="title">Disponibilidad de viaje:</button>
                            <button class="datos">{{perfilUsuario.Informacion.Viajes?'sí':'no'}}</button>
                        </div>
                        <!--div class="element">
                    		<button class="title">Cenas:</button>
                            <button class="datos">{{perfilUsuario.cenas?'sí':'no'}}</button>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
	</ion-content>
    <div class="ng-hide fullScreenImg" ng-show="showImage">
    	<div style="background:url({{imgShowImage}});"></div>
        <button ng-click="closeImg()"><i class="icon ion-android-close"></i></button>
    </div>
</ion-view>
