<ion-view view-title="Registro" class="registro-view" can-swipe-back="false">
	<ion-header-bar  class="header-bar-menu">
    	<div class="buttons texto">
			<button class="button button-clear"  nav-direction="back" ui-sref="login">Cancelar</button>
		</div>
        <h1 class="title">Registro</h1>
        <div class="buttons r texto">
			<button class="button button-clear right" ng-click="registra()">Continuar</button>
		</div>
    </ion-header-bar>
	<ion-content class="padding" has-bouncing="false" scroll="true">
    <div class="logo-registro"></div>
    <div class="texo-informativo">Proporcione la siguiente información para crear su cuenta y comenzar a utilizar la aplicación</div>
  		<input class="input-box" placeholder="Correo electrónico" type="email" ng-model="Registro.Correo">
        <div class="texto-explicacion">Inventa una contraseña de 8 dígitos, procura que sea lo suficiente segura</div>
        <input class="input-box" placeholder="Contraseña" type="password" ng-model="Registro.Contrasena">
        <input class="input-box" placeholder="Repetir contraseña" type="password" ng-model="Registro.Contrasena2">
	</ion-content>
</ion-view>
