@charset "utf-8";
.gm-style{
	top: 0vh !important;
    bottom: 0vh !important;
    height:100% !important;
	width:100% !important;
}
.angular-google-map{
	
}
.toggle.toggle-energized input:checked + .track {
    border-color: #d62c64;
    background-color: #f95792;
}
 .gm-style-cc, .gm-style > div + div {
	display:none
 }
.data-type-disabled{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.data-type-disabled >ui-gmap-google-map,.data-type-disabled >ui-gmap-google-map>div, .data-type-disabled >ui-gmap-google-map>div>div{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.home-view .reload-elements{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.home-view .reload-elements>i{
	font-size: 6vh;
    color: #181818;
    opacity: 0.6;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}
.home-view .reload-elements>i:before{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
