@charset "utf-8";
.gm-style{
	top: 0vh !important;
    bottom: 0vh !important;
    height:100% !important;
	width:100% !important;
}
.angular-google-map{
	
}
.no-text>i, .yes-text>i{
	margin-right:2vh;
}
.no-text{
	color:#3B3B3B;
}
.yes-text{
	color:#DF005A;
}
td-card{
	    width: 100%;
    height: 70vh;
    left: 0pc;
    top: 0px;
}
td-cards{
	    width: 100%;
    height: 70vh;
    left: 0pc;
    top: 0px;
	position:relative;
	float:left;
}
 .gm-style-cc, .gm-style > div + div {
	display:none
 }
.data-type-disabled{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.data-type-disabled >ui-gmap-google-map,.data-type-disabled >ui-gmap-google-map>div, .data-type-disabled >ui-gmap-google-map>div>div{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
.home-view .reload-elements{
	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
	z-index:10000;
}
.home-view .reload-elements>i{
	font-size: 6vh;
    color: #181818;
    opacity: 0.6;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}
.home-view .reload-elements>i:before{
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}
.home-view .home-card{
	position: relative;
    width: 100vw;
    height: 100vh;
	margin-top:100vh;
}
.home-view  .profile{
	width:100%;
	position:relative;
	float:left;
	height:70vh;
	z-index: 2;
	    background:url(../../img/background.png);
}
.home-view .profile .foto{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    opacity: 1;
}
#end-card i {
    color: #fff;
    opacity: 0.8;
}
.home-view  .profile .like{
	position: absolute;
    width: 18vh;
    height: 18vh;
    border-radius: 100% 0px 0px 100%;
    background: rgba(255, 255, 255, 0.55);
	right: -7vh;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.home-view  .profile .like i{
    color: rgba(187, 1, 77, 0.65);
    font-size: 7vh;
    height: 6vh;
    width: 6vh;
    position: absolute;
    text-align: center;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 3vh;
}
.home-view  .profile .like.left{
	border-radius: 0px 100% 100% 0px;
	right:auto;
	left:-7vh;
}
.home-view  .profile .like.left i{
	right: auto;
    left: 7vh;
    color: rgba(26, 26, 26, 0.54);
    font-size: 6vh;
    height: 5vh;
}

.home-view  .profile .nombre{
	position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 13vh;
    background: rgba(0, 0, 0, 0.81);
    padding: 1vh;
}
.home-view  .profile .nombre div.text{
	color: #DFDFDF;
    font-size: 4.5vh;
    width: 100%;
    text-align: center;
    font-weight: 300;
    height: 5vh;
    margin: 0px;
    font-style: italic;
	line-height: 5vh;
}
.home-view .profile .nombre .circulo{
	position: absolute;
    width: 11vh;
    height: 11vh;
    border-radius: 100%;
    background: #F6F6F6;
    bottom: -5.5vh;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 1vh;
	opacity: 0.95;
}
.home-view  .profile .nombre .circulo div{
	    position: relative;
    float: left;
    width: 100%;
    height: 3vh;
    font-size: 3vh;
    line-height: 3vh;
    font-weight: 300;
    text-align: center;
	color: #320014;
}
.crop-likes{
	position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home-view  .profile .nombre .circulo div:first-of-type{
	font-size: 5vh;
    height: 5vh;
    line-height: 5vh;
    font-weight: 600;
    color: #BB014D;
}
.home-view  .info{
	width: 100%;
    position: relative;
    float: left;
    height: 20.1vh;
    background: none;
    padding: 7vh 3vh 5vh 3vh;
}
.home-view  .info div{
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #A2A2A2;
    font-size: 3vh;
    white-space: normal;
    line-height: 4vh;
	font-weight: 300;
}
.home-view ion-header-bar .buttons{
	padding-right:1vh;
}
.home-view ion-header-bar .buttons .favoritas{
    max-width: 100vw !important;
    width: auto !important;
    font-size: 2vh !important;
    font-weight: 200 !important;
    height: 4vh !important;
    position: absolute;
    bottom: 1vh;
    left: 0px;
    width: 100% !important;
    text-align: center;
}
.home-view ion-header-bar .buttons i{
    width: 12vh;
    height: 6vh;
    max-width: 100vh;
    font-size: 4vh;
    text-align: center;
    position: relative;
    float: left;
    display: inline-table;
    line-height: 6vh;
    margin-top: 1vh;
}
.home-view ion-header-bar .buttons.right{
    width: 12vh !important;
	opacity: 0.9;
}
.home-view ion-header-bar .buttons.l button::before{
	margin: 0px;
}