@charset "utf-8";
.modal-ajustes{
	background-color: #D6D6D6 !important;
}
.modal-ajustes ion-header-bar h1.title{
	color: #fff;
    font-size: 3.5vh;
    font-weight: 300;
    margin-top: 0.2vh;
	text-align:center !important;
}
.modal-ajustes ion-header-bar .buttons.r{
    right: 0px;
    left: auto;
    position: absolute;
}
.modal-ajustes ion-header-bar .buttons.r button::before{
	margin:0px;
}
.modal-ajustes .encabezado-ajustes{
	top: 10vh;
    height: 15vh;
    border-bottom: solid 1px #B2B2B2;
    position: absolute;
    left: 0px;
    right: 0px;
}
.modal-ajustes .encabezado-ajustes .user-img{
	position: absolute;
    top: 0px;
    bottom: 0px;
    width: 10vh;
    height: 10vh;
    margin: auto;
    left: 2vh;
    background:url(../../../img/background.png);
	background-position:center;
	background-size:300%;
    border-radius: 100%;
	padding:1vh;
    border: solid 3px #ABABAB;
}
.modal-ajustes .encabezado-ajustes .text{
	position: absolute;
	left: 14vh;
    right: 2vh;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal-ajustes .encabezado-ajustes .user-name{
	top: 3.5vh;
    font-size: 3.5vh;
    height: 4vh;
    line-height: 4vh;
    color: #181818;
    font-weight: 400;
}
.modal-ajustes .encabezado-ajustes .user-suscr{
	top: 8vh;
    font-size: 3vh;
    height: 4vh;
    line-height: 4vh;
    color: #404040;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 300;
}
.modal-ajustes .encabezado-ajustes .user-img img{
	width: 100%;
    height: 100%;
}
.modal-ajustes ion-content{
    background:none !important;
    
}
.modal-ajustes ion-content.original{
	top: 25vh;
}
.modal-ajustes ion-content ion-list .list{
	padding:2vh;
	padding-top:0px;
}
.modal-ajustes ion-content ion-list ion-item{
    height: auto;
    min-height: 12vh !important;
    border-bottom: solid 1px #B2B2B2 !important;
    font-size: 2.8vh;
    line-height: 3.5vh;
    padding: 4vh 10vh;
}
.modal-ajustes ion-content ion-list ion-item i:nth-of-type(1){
	left: 1.5vh;
    font-size: 5vh;
}
.modal-ajustes ion-content ion-list ion-item i:nth-of-type(2){
	right: 0vh;
    font-size: 4vh;
    width: 3vh;
}
/**********************LOCK***********************/
.modal-lock ion-header-bar{
	box-shadow: none;
}
.modal-lock ion-header-bar button{
    width: auto !important;
    max-width: 100vw !important;
    padding-left: 2vh !important;
    font-weight: 300 !important;
    font-size: 3vh !important;
}
.modal-lock .encabezado{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 35vh;
}
.modal-lock .encabezado>.logo{
	width: 100%;
    height: 15vh;
    float: left;
	background:url(../../../img/icon.png);
	background-size:contain;
	background-position:center;
	background-repeat:no-repeat;
}
.modal-lock .encabezado>.numeros{
    position: relative;
    float: left;
    width: 80vw;
    height: 20vh;
    margin-left: 10vw;
}
.modal-lock .encabezado>.numeros>div{
    position: relative;
    width: 25%;
    float: left;
    background: none;
    height: 100%;
}
.modal-lock .encabezado>.numeros>div>div{
    position: absolute;
    width: 8vh;
    height: 8vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background: #D5D5D5;
    border-radius: 100%;
    border: solid 2.2vh #D5D5D5;
}
.modal-lock .encabezado>.numeros>div>div.selected{
	background:none;
}
.modal-lock .info-lock{
	position: absolute;
    bottom: 15vh;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    color: #FFCF24;
    padding: 1vh;
	font-weight:400;
}
.modal-lock .info-lock.extra{
	bottom: 0px;
    color: #757575;
    font-size: 2.7vh;
    font-style: italic;
    font-weight: 300;
}
.modal-lock .pad-num{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 55vh;
    background: #262626;
}
.modal-lock .pad-num>button{
	background: none;
    width: 33.3vw;
    position: relative;
    float: left;
    height: 13.75vh;
    border-top: solid 1px #313131 !important;
    border-right: solid 1px !important;
    border-color: #313131 !important;
    font-size: 5vh;
    font-weight: 400;
    color: #D5D5D5;
}
.modal-backdrop-bg{
	background: #000;
    opacity: 0.8;
}
ion-modal-view.modal-informacion{
	width: 90vw;
    height: 37vh !important;
    min-height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
    right: 0px;
    bottom: 0px;
	
}
ion-modal-view.modal-informacion ion-content{
    background: #d6d6d6 !important;
}
.modal-ajustes ion-content:not(.original){
	padding:2vh;
	text-align:justify;
}
ion-modal-view.modal-informacion ion-content{
	padding:2vh;
}
ion-modal-view.modal-informacion ion-content .logo{
	width:100%;
	height:5vh;
	background:url(../../../img/appscorts-black.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}
ion-modal-view.modal-informacion ion-content .texto{
	font-size: 2vh;
    text-align: justify;
    margin-top: 2vh;
    padding: 0vh 2vh;
}
ion-modal-view.modal-informacion ion-content .version{
    text-align: center;
    font-size: 3vh;
    margin-top: 3vh;
}
.modal-ajustes.pago ion-content .sin-tarjeta{
	font-size: 2.5vh;
    text-align: justify;
    line-height: 3.2vh;
}
.modal-ajustes ion-content .linea{
	    width: 100%;
    padding: 1vh;
    /*border-top: solid 1px #aeaeae;*/
    border-bottom: solid 1px #aeaeae;
	    position: relative;
    float: left;
}
.modal-ajustes ion-content .linea .titulo{
	position: relative;
    float: left;
    width: 100%;
    font-size: 3vh;
    height: 3vh;
    font-weight: 300;
    color: #181818;
}
.modal-ajustes ion-content .linea .valor{
	    position: relative;
    float: left;
    width: 100%;
    font-size: 2.6vh;
    color: #232323;
    font-weight: 200;
	margin-top:0.5vh;
}
.modal-ajustes ion-content .foto{
	position:relative;
	width:100%;
	float:left;
	height:10vh;
	text-align:center;
	
}
.modal-ajustes ion-content .foto>div{
    position: relative;
    display: inline-block;
    height: 10vh;
    width: 10vh;
    background-image: url(../../../img/profiles/profmr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: solid 0.5vh #909090;

}
.modal-ajustes ion-content .boton-ajustes{
	    position: relative;
    float: left;
    width: 100%;
    margin-top: 1vh;
    background: #181818;
    color: #e3e3e3;
    font-size: 3vh;
    padding: 1vh;
}
    